.carousel {
  justify-content: space-between;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.town_item {
  text-align: center;
  width: 122px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}




.town_item img {
  width: 102px;
  height: 102px;
}