body {
    font-family: 'Montserrat', sans-serif;
}

* {
    color: #292929;
}

.toTourist-wrap {
    width: 1240px;
    display: grid;

    grid-template-areas: 'title title title' 'dest cont cont';
    grid-template-rows: 10px 2fr;
    grid-template-columns: 2fr 4fr 4fr;
    grid-gap: 86px 50px;
}

.tourist_title {
    grid-area: title;
}

.destination {
    margin-top: 52px;
    grid-area: dest;
}

.content {
    grid-area: cont;
}